{% extends 'base.html' %}
 
{% block content %}
<h1>{{ title }}</h1>

{% if messages %}
<div>
    {% for message in messages %}
    <div {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
    {% endfor %}
</div>
{% endif %}

{% if exception and debug %}
    <h3 class="font-bold">{{ exception }}</h3>
{% endif %}

<form method="post">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}" />
    <div>{{ form.non_field_errors }}</div>
    {% for f in form %}
    <div><label for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</div>
    <div>{{ f.errors }}</div>
    {% endfor %}
    <p ><button type="submit">Войти</button></p>

</form>
 
{% endblock %}