{% extends 'base.html' %}


{% block content %}

<h1>{{ title }}</h1>


{% if messages %}
<div class="messages">
    {% for message in messages %}
    <div {% if message.tags %} class="message {{ message.tags }}"{% endif %}>{{ message }}</div>
    {% endfor %}
</div>
{% endif %}


{% for i in cart_items %}
<div class="cart-page-item">
    {% if i.photo %}
    <div class="cart-page-item-image">
        <img src="{{i.photo.url}}" alt="{{i.name}}">
    </div>
    {% endif %}
    <div class="cart-page-item-details">
        <h3 class="cart-page-item-name">{{ i.name }} x {{i.count}} → {{i.total}} р.</h3>
        <div class="cart-page-item-actions">
            <a class="cart-page-link view-product" href="{% url 'item' i.slug %}">Смотреть товар</a>
            <a class="cart-page-link remove-product" href="{% url 'delete_from_cart' i.slug %}">Удалить товар из корзины</a>
        </div>
    </div>
</div>
{% endfor %}

<h2 class="cart-page-total">Итого: {{summ}} р.</h2>
<div class="cart-page-checkout">
    <a class="cart-page-link checkout" href="{% url 'create_order' %}">Сформировать заказ</a>
</div>
{% endblock %}

