{% extends 'base.html' %}


{% block content %}

<h1>{{ title }}</h1>


{% if messages %}
<div class="messages">
    {% for message in messages %}
    <div {% if message.tags %} class="message {{ message.tags }}"{% endif %}>{{ message }}</div>
    {% endfor %}
</div>
{% endif %}


{% for i in cart_items %}
<div>
 {% if i.photo %}
       <p ><img class="img-article-left thumb" src="{{i.photo.url}}"></p>
 {% endif %}
<h3>{{ i.name }} x {{i.count}} → {{i.total}} р.</h3>
    <div><a href="{% url 'item' i.slug %}">Смотреть товар</a></div>
    <div><a href="{% url 'delete_from_cart' i.slug %}">Удалить товар из корзины</a></div>
</div>
{% endfor %}
<h2>Итого: {{summ}} р.</h2>
<div><a href="{% url 'create_order' %}">Сформировать заказ</a></div>
{% endblock %}

