{% extends 'base.html' %}
{% load pstags %}


{% block breadcrumbs %}
<div>Категории:</div>
{% if cat_selected == 0 %}
<div>Все категории</div>
{% else %}
<div><a href="{% url 'home' %}">Все категории</a></div>
{% endif %}

{% show_categories cat_selected %}
<br>
{% show_all_tags tag_selected %}
<br>
{% show_sorts sort_selected %}

{% endblock %}

{% block content %}

<h1>{{ title }}</h1>


{% if messages %}
<div>
    {% for message in messages %}
    <div {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
    {% endfor %}
</div>
{% endif %}


{% for i in items %}
<div>
 {% if i.photo %}
       <p ><img class="img-article-left thumb" src="{{i.photo.url}}"></p>
 {% endif %}
<h3>{{ i.name }}</h3>
<div>{{i.description}}</div>
<div>Цена: {{i.price}} р.</div>
    {% if i.rate %}
    <div>Рейтинг: {{ i.rate|one_digit_after_dot }}</div>
    {% endif %}
<div><a href="{{ i.get_absolute_url }}">Смотреть товар</a></div>
<div><a href="{% url 'to_cart' i.slug %}">Добавить в корзину</a></div>
</div>
{% endfor %}

{% endblock %}

