{% extends 'base.html' %}




{% block content %}
<h1>{{item.name}}</h1>

{% with item.tags.all as tags %}
{% if tags %}
    <div>Теги продукта:</div>
    {% for t in tags %}
    <div><a href="{{t.get_absolute_url}}">{{t.tag}}</a></div>
    {% endfor %}
{% endif %}
{% endwith %}

<div>{{item.description}}</div>
<div>Цена: {{item.price}} р.</div>
<br>
{% if item.rate %}
<div>Рейтинг: {{item.rate}}</div>
{% else %}
<div>Рейтинг: Еще никто не оценил</div>
{% endif %}

{% if post.photo %}
<p><img class="img-article-left" src="{{post.photo.url}}"></p>
{% endif %}
<br>
<div>Оставить комментарий:</div>
<form method="post">
    {% csrf_token %}
    {% for err in form.non_field_errors %}
    <div>{{ err }}</div>
    {% endfor %}
    <div>{{ form.text }}</div>
    <div>{{ form.rating.label }}</div>
    {% for radio in form.rating %}
    <div>
        {{ radio }}
    </div>
    {% endfor %}

    <input type="submit" value="Оставить комментарий">
</form>


{% endblock %}