{% extends 'base.html' %}




{% block content %}
<h1>{{item.name}}</h1>

{% with item.tags.all as tags %}
{% if tags %}
    <div>Теги продукта:</div>
    {% for t in tags %}
    <div><a href="{{t.get_absolute_url}}">{{t.tag}}</a></div>
    {% endfor %}
{% endif %}
{% endwith %}

<div>{{item.description}}</div>
<div>Цена: {{item.price}} р.</div>
<br>
{% if item.rate %}
<div>Рейтинг: {{item.rate}}</div>
{% else %}
<div>Рейтинг: Еще никто не оценил</div>
{% endif %}

{% if post.photo %}
<p><img class="img-article-left" src="{{post.photo.url}}"></p>
{% endif %}
<br>

{% if messages %}
<div>
    {% for message in messages %}
    <div {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
    {% endfor %}
</div>
{% endif %}

<div>Оставить комментарий:</div>



<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    {% if form.non_field_errors %}
    <div class="non-field-errors">
    {% for err in form.non_field_errors %}
        <p>{{ err }}</p>
    {% endfor %}
    </div>
    {% endif %}

    <div>{{ form.text }}</div>
    <div>{{ form.rating.label }}</div>
    {% for radio in form.rating %}
    <div>
        {{ radio }}
    </div>
    {% endfor %}

    <input type="submit" value="Оставить комментарий">
</form>
<br>
<div>
    {% for comment in comments %}
    <div>Пользователь: {{comment.user}}</div>
    {% if comment.rating is not None %}
    <div>Оценка: {{comment.rating}}</div>
    {% else %}
    <div>Без оценки</div>
    {% endif %}
    <div>Комментарий: {{comment.text}}</div>
    <br>
    {% endfor %}
</div>

{% endblock %}