



<div>Сортировка:</div>

{% if sort_slug == 'name'%}
<div>По алфавиту</div>
{% else %}
<div><a href="?sort=name">По алфавиту</a></div>
{% endif %}

{% if sort_slug == '-time_create'%}
<div>По дате создания (по убыванию)</div>
{% else %}
<div><a href="?sort=-time_create">По дате создания (по убыванию)</a></div>
{% endif %}

{% if sort_slug == 'time_create'%}
<div>По дате создания (по возрастанию)</div>
{% else %}
<div><a href="?sort=time_create">По дате создания (по возрастанию)</a></div>
{% endif %}


{% if sort_slug == '-price'%}
<div>По цене (по убыванию)</div>
{% else %}
<div><a href="?sort=-price">По цене (по убыванию)</a></div>
{% endif %}

{% if sort_slug == 'price'%}
<div>По цене (по возрастанию)</div>
{% else %}
<div><a href="?sort=price">По цене (по возрастанию)</a></div>
{% endif %}


{% if sort_slug == '-rate'%}
<div>По рейтингу (по убыванию)</div>
{% else %}
<div><a href="?sort=-rate">По рейтингу (по убыванию)</a></div>
{% endif %}

{% if sort_slug == 'rate'%}
<div>По рейтингу (по возрастанию)</div>
{% else %}
<div><a href="?sort=rate">По рейтингу (по возрастанию)</a></div>
{% endif %}

