{% extends 'base.html' %}

{% load pstags %}

{% block content %}

<h1>{{ title }}</h1>
<h2>Представители сайта свяжутся с вами в ближайшее время, чтобы обсудить заказ, если еще этого не сделали</h2>

{% if messages %}
<div class="messages">
    {% for message in messages %}
    <div {% if message.tags %} class="message {{ message.tags }}"{% endif %}>{{ message }}</div>
    {% endfor %}
</div>
{% endif %}


{% for order in orders %}
<div class="orders-page-order">
    <h2 class="orders-page-order-title">Заказ №{{order.id}} от {{order.time_create}}</h2>
    <h4 class="orders-page-order-subtitle">Содержимое:</h4>
    {% for item in orders_items|get_item:order %}
    <div class="orders-page-item">
        <p class="orders-page-item-details">{{ item.item__name }} x {{item.count}} → {{item.total}} р.</p>
    </div>
    {% endfor %}
    <h3 class="orders-page-order-summary">Итого: {{order.order_sum}} р.</h3>
    <h3 class="orders-page-order-status">Статус: {{order.get_status_display}}</h3>
    <div class="orders-page-order-actions">
        <a class="orders-page-link cancel-order" href="{% url 'delete_order' order.id %}">Отменить заказ</a>
    </div>
    <br>
</div>
{% endfor %}
{% endblock %}



