{% extends 'base.html' %}

{% load pstags %}

{% block content %}

<h1>{{ title }}</h1>
<h2>Представители сайта свяжутся с вами в ближайшее время, чтобы обсудить заказ, если еще этого не сделали</h2>
<br>

{% if messages %}
<div class="messages">
    {% for message in messages %}
    <div {% if message.tags %} class="message {{ message.tags }}"{% endif %}>{{ message }}</div>
    {% endfor %}
</div>
{% endif %}


{% for order in orders %}
<div>
    <h2>Заказ №{{order.id}} от {{order.time_create}}</h2>
    <h4>Содержимое:</h4>
    {% for item in orders_items|get_item:order %}
    {% if item.photo %}
       <p><img class="img-article-left thumb" src="{{i.photo.url}}"></p>
    {% endif %}
    <p>{{ item.item__name }} x {{item.count}} → {{item.total}} р.</p>

    {% endfor %}
</div>
<h3>Итого: {{order.order_sum}} р.</h3>
<h3>Статус: {{order.get_status_display}}</h3>
<div><a href="{% url 'delete_order' order.id %}">Отменить заказ</a></div>
<br>
{% endfor %}


{% endblock %}




<h2>Итого: {{summ}} р.</h2>
<div><a href="{% url 'create_order' %}">Сформировать заказ</a></div>


<h3>{{ i.name }} x {{i.count}} → {{i.total}} р.</h3>
    <div><a href="{% url 'item' i.slug %}">Смотреть товар</a></div>
    <div><a href="{% url 'delete_from_cart' i.slug %}">Удалить товар из корзины</a></div>